html {
    background-image: url("background.webp");
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-color: rgb(230, 235, 231,0.8);
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    font-family: "raleway";
}
h1, p {
    text-align: center;
    margin: auto;
}
label {
    display:block;
    margin: 1em;

}
input, select {
    display: block;
    background-color: #fbfbfb;
    border: solid 1px #ccc;
    resize: vertical;
    border-radius: 10px;
    width: 100%;
    font-size:20px;
    padding: 0.3em;
}
input[type=checkbox], input[type=radio] {
    display: inline;
    width: auto;

}
.inline-lable {
    display: inline;
    width: auto;
}
option {
    color: rgb(0,0,0);
    background: rgb(255,255,255)
}
select{
    color: indigo;
}
input[type=submit]:hover,
input[type=submit]:focus {
    outline: none;
    background: rgb(5, 129, 88);
}
input[type=reset]:hover,
input[type=reset]:focus {
    outline: none;
    background: rgb(192, 3, 18);
}
input[type=reset],
input[type=submit] {
    background: rgb(27, 44, 141);
    color: white;
    margin-top: 1em;
    border-radius: 10px;
}